<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
    <div style="display: flex; align-items: center;">
        <img src="/static/logo.png" class="logo" alt="로고">
    </div>
        <h1>관리자페이지</h1>
        <p>안녕하세요 {{ session['username'] }} 관리자님!</p>
        <button onclick="location.href='/'">게시판으로</button>
        <button onclick="location.href='/logout/'">로그아웃</button>
        <hr>
        <!-- 통계 -->
        <h2>[ 통계 ]</h2>
        <p>전체 회원 수: {{userCount}}명< | 전체 게시물 수 : {{ postCount }}개</p>
        </hr>

        <!-- 회원목록 -->
        <h2>[ 회원 목록 ]</h2>
        <table border="1">
            <tr>
                <th>번호</th>
                <th>아이디</th>
                <th>권한</th>
                <th> 관리</th>
            </tr>
            {% for user in users %}
            <tr>
                <td>{{ user[0] }}</td>
                <td>{{ user[1] }}</td>
                <td>{{ user[3] }}</td>
                <td>
                    {% if user[1] != 'admin' %}
                        <button onclick="location.href='/admin/delete/{{ user[0] }}/'">삭제</button>
                        {% if user[3] == 'admin' %}
                            <button onclick="location.href='/admin/role/{{ user[0] }}/'">관리자 해제</button>
                        {% else %}
                            <button onclick="location.href='/admin/role/{{ user[0] }}/'">관리자 승급</button>
                        {% endif %}
                    {% else %}
                        administrator
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
        <hr>
        <!--게시글 목록 -->
        <h2>게시글 목록</h2>
        <table border="1">
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>날짜</th>
                <th>관리</th>
            </tr>
            {% for post in posts %}
            <tr>
                <td>{{ post[0] }}</td>
                <td>{{ post[1] }}</td>
                <td>{{ post[3] }}</td>
                <td>{{ post[4] }}</td>
                <td>
                    <button onclick="location.href='/admin/post/delete/{{ post[0] }}/'">삭제</button>
                </td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>