<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
    <div style="display: flex; align-items: center;">
        <img src="/static/logo.png" class="logo" alt="로고">
    </div>
        <h1>글수정</h1>
        <form method='POST'>
            제목: <input type= "text" name= "title" id="title" value="{{post[1] | safe}}"><br><br>
            작성자: <input type= "text" name="author" id="author" value="{{post[3] | safe}}"><br><br>
            내용: <textarea name="content" id="content">{{post[2]}}</textarea><br><br>
            <input type="button" value="저장" onclick="
            if (document.getElementById('title').value==''
            || document.getElementById('content').value==''
            || document.getElementById('author').value==''){
                alert('모든 항목을 입력해 주세요');
            } else {
                document.querySelector('form').submit();
            }
            ">
            <input type="button" value="취소" onclick="location.href='/detail/{{id | safe}}/'">
        </form>
    </body>
</html>